.gallery {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 16px;
  grid-auto-rows: 10px;
}
/* for loader */
.global-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

.spinner {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #f9748f;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-bottom: 1rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 1746px) {
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width: 1509px) {
  .gallery {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1272px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1035px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 798px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 475px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}
